﻿@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@{
    await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}

@model TuesdayMachines.Models.HomeIndexModel

<div class="modal fade" id="selectWalletModal" tabindex="-1" aria-labelledby="selectWalletModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectWalletModalLabel">Select wallet</h5>
                <button type="button" class="btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="p-2" data-url="@Url.Action("Play","Game")" data-callback="playGameResponse">
                    <div class="mb-1">
                        <label for="playWalletId" class="form-label">Wallet</label>
                        <select id="playWalletId" data-form-name="wallet" class="form-select" required>
                        </select>
                    </div>
                    <input type="hidden" data-form-name="gameId" value="" />
                    <div class="mb-1">
                        <button type="submit" class="btn btn-primary mt-2">Play</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="decryptServerModal" tabindex="-1" aria-labelledby="decryptServerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="decryptServerModalLabel">Decrypt server seed</h5>
                <button type="button" class="btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="p-2" data-url="@Url.Action("DecryptServer","Game")" data-callback="decryptServerResponse">
                    <div class="mb-1">
                        <label>Server seed(hashed)</label>
                        <input data-form-name="serverSeed" type="text" class="form-control" minlength="64" maxlength="64" pattern="^[a-zA-Z0-9]*$" required="">
                    </div>
                    <div class="mb-1">
                        <label>Server seed decrypted</label>
                        <input name="decryptedServerSeed" type="text" class="form-control" disabled="">
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-primary mt-2">Decrypt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fairPlayModal" tabindex="-1" aria-labelledby="fairPlayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fairPlayModalLabel">Fair play</h5>
                <button type="button" class="btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="mb-1">
                        <label>Active client seed</label>
                        <input name="activeClientSeed" type="text" class="form-control" disabled="">
                    </div>

                    <div class="mb-1">
                        <label>Active server seed(hashed)</label>
                        <input name="activeServerSeed" type="text" class="form-control" disabled="">
                    </div>

                    <div class="mb-1">
                        <label>Total bets made with pair</label>
                        <input name="nonceNumber" type="text" class="form-control" disabled="">
                    </div>
                </div>
                <hr />
                <form class="p-2" data-url="@Url.Action("ChangeSeed","Game")" data-callback="changeSeedResponse">
                    <div class="mb-1">
                        <label>New client seed</label>
                        <div class="input-group">
                            <input data-form-name="clientSeed" type="text" class="form-control" minlength="6" maxlength="24" pattern="^[a-zA-Z0-9_]*$" required="">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </div>
                    <div class="mb-1">
                        <label>Next server seed(hashed)</label>
                        <input name="nextServerSeed" type="text" class="form-control" disabled="">
                    </div>
                </form>
                <a href="#" onclick="onDecryptServerClick()">Decrypt server seed here</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 footer-padding">
    <main role="main" class="pb-3">
        <div class="row">

            @foreach (var game in Model.Games)
			{
                <a class="category-selection text-decoration-none col col-md-2" href="javascript:void(0);" role="button" data-category-id="@game.Code" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <img class="rounded-5" src="@game.Logo" width="150" height="150">
                    </div>
                    <div class="text-white text-center rounded-pill p-2" style="background-color: @game.Color;">@game.Name</div>
                </a>
            }

            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end w-auto" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="playClick()" href="javascript:void(0);">Play</a>
                <a class="dropdown-item" onclick="fairPlayClick()" href="javascript:void(0);">Fair play</a>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script>
        const getWalletsUrl = '@Url.Action("GetWallets", "Game")';
        const getCurrentSeedUrl = '@Url.Action("GetCurrentSeed", "Game")';
        const changeSeedUrl = '@Url.Action("ChangeSeed", "Game")';
    </script>
    <script src="~/js/home/index.js"></script>
}