﻿@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@model TuesdayMachines.Models.HomeIndexModel

@{
    await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}

<div class="container mb-5 footer-padding">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="mb-3 col-3">
                <label for="gameCodeId" class="form-label">Game</label>
                <select id="gameCodeId" onchange="updateStatistics()" class="form-select" required>
                    @foreach (var game in Model.Games)
                    {
                        if (game.Metadata.Contains("disableStats:1"))
                            continue;
                        <option value="@game.Code">@game.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-3">
                <label for="walletId" class="form-label">Broadcaster</label>
                <select id="walletId" onchange="updateStatistics()" class="form-select" required>
                    <option value="">ALL</option>
                    @foreach (var broadcaster in Model.Broadcasters)
                    {
                        <option value="@broadcaster.AccountId">@broadcaster.Points [@broadcaster.Login]</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-3">
                <label for="timeRange" class="form-label">Time</label>
                <select id="timeRange" onchange="updateStatistics()" class="form-select" required>
                    <option value="0">Today</option>
                    <option value="1">1 week</option>
                    <option value="2">1 month</option>
                </select>
            </div>
            <div class="mb-3 col-3">
                <label for="showType" class="form-label">Sort</label>
                <select id="showType" onchange="updateStatistics()" class="form-select" required>
                    <option value="0">Total win</option>
                    <option value="1">X win</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="p-3">
                <table id="statsTable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Wallet</th>
                            <th>Date</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script>
        const getSpinsStatsUrl = '@Url.Action("GetSpinsStats", "Game")';
    </script>
    <script src="~/js/home/stats.js"></script>
}